:root{
    --color1:#443742;
    --color2:#846c5b;
    --color3:#cea07e;
    --color4:#edd9a3;
    --color5:#e2e8c0;
}

body{
    background-color: var(--color4);
}

line{
    display: inline-block;
    width: 92%;
    height: 2px;
    background-color: #443742;
}

h3{
    font-weight: bolder;
}

#id{
    position: fixed;
    visibility: hidden;
}

.wall{
    min-height: 400px;
    background-color: var(--color5);
    border: 3px solid; 
    border-radius: 10px;
    border-color: var(--color2);
    text-align: center;
}

.text{
    color:black;
    transition: all 0.2s ease-out;
}

.text:hover{
    color: var(--color2);
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.poster{
    text-align: initial;
    height: auto;
    min-height: 550px;
    margin-right: 4%;
    margin-left: 4%;
} 

.newPost_btn{
    background-color: var(--color2);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
}

.postTitle{
    width: 100%;
    border: 2px solid;
    border-color: var(--color1);
}

.postContent{
    width: 100%;
    height: 400px;
    background-color: white;
    border: 2px solid;
    border-color: var(--color1);
}

poster{
    display: block;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 2px solid;
    border-color: var(--color2);
    transition: all 0.2s ease-in-out;
}
poster:hover{
    border-color: lightcoral;
}

.eachTitle{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:inline-block;
    width:65%;
    margin-bottom: 0px;
}

.block{
    border: 1.5px #443742 solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.authBar{
    border-bottom: 1px black solid;
}
.auth{
    font-weight: bolder;
}

.posterIcon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.date{
    font-size: 12px;
    color: gray;
    float: right;
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
}

.nextpage{
    cursor: pointer;
}

.inputNum{
    width: 40px;
    text-align: right;
    border: none;
    margin-right: 4px;
    background: none;
}