:root{
    --color1:#443742;
    --color2:#846c5b;
    --color3:#cea07e;
    --color4:#edd9a3;
    --color5:#e2e8c0;
}


.navbar{
    background-color: var(--color3);
    border-radius: 20px;
    border: 5px solid;
    border-color: var(--color1);
}
.nav{
    color: var(--color1);
    border: 1px;
    padding: 4px;
    transition: all 0.2s ease-out;
}
.nav:hover{
    color: var(--color5);
}
.Login{
    color: black;
    transition: all 0.2s ease-out;
}
.Login:hover{
    color: var(--color5);
}

.profile{
    margin-right: 10px;
    color: #000;
    text-decoration:none;
}
.profile:hover{
    color: #000;
    text-decoration:none;
}

.profileIcon{
    width: 25px;
    height: 25px;
    border-radius: 20px;
}