.wall{


}
.content{
    margin: 15px;
    margin-top: 30px;
}

.left{
    display: inline-block;
    width: 38%;
    text-align: right;
}
.right{
    display: inline-block;
    width: 62%;
    text-align: left;
}

.userNameInput{
    width: 50%;
    max-width: 150px;
    border-radius: 4px;
    border: none;
}

.email{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    transform: translateY(21%)
}

.passwordInput{
    width: 70%;
    max-width: 230px;
    border-radius: 4px;
    border: none;
}

.photo{
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.photoInput{
    display: none;
}

.submitBtn{
    height: 24px;
    color: aliceblue;
    font-size: 14px;
    background-color: var(--color2);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}